@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth lock-full-bg">
            <div class="row w-100">
                <div class="col-lg-4 mx-auto">
                    <div class="auth-form-transparent text-left p-5 text-center">
                        <div class="brand-logo">
                            <img src="~/images/logo.png" alt="logo">
                        </div>
                        <form class="pt-5" id="account" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group text-light">
                                <input asp-for="Input.Email" class="form-control text-center text-light" placeholder="Username" />
                            </div>
                            <div class="form-group text-light">
                                <input asp-for="Input.Password" class="form-control text-center text-light" placeholder="Password" />
                            </div>
                            <div class="my-2 d-flex justify-content-between align-items-center">
                                <div class="form-check">
                                    <label class="form-check-label text-light">
                                        <input asp-for="Input.RememberMe" class="form-check-input">
                                        Keep me signed in
                                    </label>
                                </div>
                            </div>
                            <div class="my-5">
                                <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium">LOGIN</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
</div>
<!-- page-body-wrapper ends -->

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
