@model LicensingSolution.Models.DrivingLicence

@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mdi mdi-rename-box text-lg-right">Driving Licence</h2>
            <form asp-action="Create" method="post" enctype="multipart/form-data" asp-controller="DrivingLicences">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="LicenceNumber" class="control-label"></label>
                            <input asp-for="LicenceNumber" class="form-control" />
                            <span asp-validation-for="LicenceNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label">Driver's ID Number</label>
                            <input asp-for="Driver.DriverId" class="form-control" />
                            <span asp-validation-for="Driver.DriverId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Driver.FirstName" class="control-label"></label>
                            <input asp-for="Driver.FirstName" class="form-control" />
                            <span asp-validation-for="Driver.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Driver.MiddleName" class="control-label"></label>
                            <input asp-for="Driver.MiddleName" class="form-control" />
                            <span asp-validation-for="Driver.MiddleName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Driver.LastName" class="control-label"></label>
                    <input asp-for="Driver.LastName" class="form-control" />
                    <span asp-validation-for="Driver.LastName" class="text-danger"></span>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="LicenceExpiryDate" class="control-label"></label>
                            <input asp-for="LicenceExpiryDate" class="form-control" />
                            <span asp-validation-for="LicenceExpiryDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="PDPExpiryDate" class="control-label"></label>
                            <input asp-for="PDPExpiryDate" class="form-control" />
                            <span asp-validation-for="PDPExpiryDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label">Owner's ID Number</label>
                            <input name="OwnerIDNumber" class="form-control" />                            
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label">Upload Driver's Photo</label>
                            <input type="file" name="image" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
