@model LicensingSolution.Models.VehicleLicence

@{
    ViewData["Title"] = "Create";
}
<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title mdi mdi-plus-box text-lg-right">Licence Disk</h2>
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-20">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="VehRegisterNumber" class="control-label"></label>
                                <input asp-for="VehRegisterNumber" class="form-control" />
                                <span asp-validation-for="VehRegisterNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="VehLicenceNumber" class="control-label"></label>
                                <input asp-for="VehLicenceNumber" class="form-control" />
                                <span asp-validation-for="VehLicenceNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="VehIdentificationNumber" class="control-label"></label>
                                <input asp-for="VehIdentificationNumber" class="form-control" />
                                <span asp-validation-for="VehIdentificationNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="VehMake" class="control-label"></label>
                                <input asp-for="VehMake" class="form-control" />
                                <span asp-validation-for="VehMake" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-20">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="RegisteringAuthority" class="control-label"></label>
                                <input asp-for="RegisteringAuthority" class="form-control" />
                                <span asp-validation-for="RegisteringAuthority" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label asp-for="DateOfExpiry" class="control-label"></label>
                                <input asp-for="DateOfExpiry" class="form-control" />
                                <span asp-validation-for="DateOfExpiry" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="OwnerId" class="control-label"></label>
                        <input asp-for="OwnerId" class="form-control" />
                        <span asp-validation-for="OwnerId" class="text-danger"></span>
                    </div>
                    <div class="form-group row">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<abbr title="View List"><a class="btn btn-outline-primary icon-btn" href="~/VehicleLicences"><i class="fa fa-list row" style="padding:1px"></i></a></abbr>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
