@model LicensingSolution.Models.VehicleLicence

@{
    ViewData["Title"] = "Edit";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mdi mdi-rename-box text-lg-right">Licence Disk</h2>
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="VehRegisterNumber" />
                <input type="hidden" asp-for="OwnerId" />
                <div class="row mb-20">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label asp-for="VehLicenceNumber" class="control-label"></label>
                            <input asp-for="VehLicenceNumber" class="form-control" />
                            <span asp-validation-for="VehLicenceNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="VehIdentificationNumber" class="control-label"></label>
                            <input asp-for="VehIdentificationNumber" class="form-control" />
                            <span asp-validation-for="VehIdentificationNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="VehMake" class="control-label"></label>
                            <input asp-for="VehMake" class="form-control" />
                            <span asp-validation-for="VehMake" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="RegisteringAuthority" class="control-label"></label>
                            <input asp-for="RegisteringAuthority" class="form-control" />
                            <span asp-validation-for="RegisteringAuthority" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DateOfExpiry" class="control-label"></label>
                            <input asp-for="DateOfExpiry" class="form-control" />
                            <span asp-validation-for="DateOfExpiry" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
