@model LicensingSolution.Models.Owner

@{
    ViewData["Title"] = "Create";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mdi mdi-rename-box text-lg-right">Owner</h2>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="OwnerId" class="control-label"></label>
                            <input asp-for="OwnerId" class="form-control" />
                            <span asp-validation-for="OwnerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="MiddleName" class="control-label"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="PrimaryContactNumber" class="control-label"></label>
                            <input asp-for="PrimaryContactNumber" class="form-control" />
                            <span asp-validation-for="PrimaryContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="SecondaryContactNumber" class="control-label"></label>
                            <input asp-for="SecondaryContactNumber" class="form-control" />
                            <span asp-validation-for="SecondaryContactNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="EmailAddress" class="control-label"></label>
                    <input asp-for="EmailAddress" class="form-control" />
                    <span asp-validation-for="EmailAddress" class="text-danger"></span>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Street" class="control-label"></label>
                            <input asp-for="Street" class="form-control" />
                            <span asp-validation-for="Street" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Suburb" class="control-label"></label>
                            <input asp-for="Suburb" class="form-control" />
                            <span asp-validation-for="Suburb" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="PostalCode" class="control-label"></label>
                            <input asp-for="PostalCode" class="form-control" />
                            <span asp-validation-for="PostalCode" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="AssociationId" class="control-label"></label>
                    @Html.DropDownListFor(model => model.AssociationId, TempData["AssList"]  as List<SelectListItem>, "--Choose Association--", new { @class = "form-control" })
                    <span asp-validation-for="AssociationId" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
