@model LicensingSolution.Models.Driver

@{
    ViewData["Title"] = "Create";
}
<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title mdi mdi-rename-box text-lg-right">Driver</h2>
            <form asp-action="Create" method="post" enctype="multipart/form-data" asp-controller="Drivers">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DriverId" class="control-label"></label>
                            <input asp-for="DriverId" class="form-control" />
                            <span asp-validation-for="DriverId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DrivingLicence.LicenceNumber" class="control-label"></label>
                            <input asp-for="DrivingLicence.LicenceNumber" class="form-control" />
                            <span asp-validation-for="DrivingLicence.LicenceNumber" class="text-danger"></span>
                        </div>
                    </div>                   
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="MiddleName" class="control-label"></label>
                            <input asp-for="MiddleName" class="form-control" />
                            <span asp-validation-for="MiddleName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="LastName" class="control-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DrivingLicence.LicenceExpiryDate" class="control-label"></label>
                            <input asp-for="DrivingLicence.LicenceExpiryDate" class="form-control" />
                            <span asp-validation-for="DrivingLicence.LicenceExpiryDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="DrivingLicence.PDPExpiryDate" class="control-label"></label>
                            <input asp-for="DrivingLicence.PDPExpiryDate" class="form-control" />
                            <span asp-validation-for="DrivingLicence.PDPExpiryDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row mb-20">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="OwnerId" class="control-label"></label>
                            <input asp-for="OwnerId" class="form-control" />
                            <span asp-validation-for="OwnerId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="control-label">Upload Driver's Photo</label>
                            <input type="file" name="image" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
