@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Pie chart</h4>
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-6 grid-margin grid-margin-lg-0 stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Scatter chart</h4>
                <canvas id="scatterChart"></canvas>
            </div>
        </div>
    </div>
</div>
<!-- Custom js for this page-->
<script src="~/js/dashboard.js"></script>
<script src="~/vendors/chart.js/Chart.min.js"></script>
<script src="~/js/chart.js"></script>