@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>One way we collect information about you when you use our Web Application is through the use of Cookies. Cookies is a set of data that a website server stores on your computer. Cookies enable website to recognise your computer and to “remember” your entries as you move from page to page, or even when you visit the site from time to time using the same computer.</p>
<p>We do not use personal identifying cookies. We use cookies which are identified only by numeric ID code and are never correlated to personal identifiable information. The type of cookies we use on our Web Application are known as “persistent cookies” It should be noted that while persistent cookies reside in a browser until they are deleted</p>
<p>Your browser or other software you install may permit you to restrict the use of persistent cookies or all cookies. If you elect not to permit the use of persistent cookies only, you may still enjoy the full functionality of our website; however, if you do so, you will need to re-enter some data when starting a new session.</p>
